<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />

</head>
<body>
	<div class="container text-center"
		style="margin-top: 100px">
		<div>
			<h1>Welcom to my Web</h1>
		</div>
		<div>
			<h3>
				<a th:href="@{/login}" style="color: black">Login</a>
			</h3>
			<h3>
				<a th:href="@{/register}" style="color: black">Register</a>
			</h3>
<!-- 			<h3>
				<a th:href="@{/takenote}" style="color: black">Take Notes</a>
			</h3> -->
		</div>
	</div>
</body>
</html>